body{
    background-color: hsl(228, 100%, 54%);
}
.navigation{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}
.logo {
color: hsl(123, 92%, 46%);
}
.navlinks > a{
    color: white;
    text-decoration: none;
    margin: 16px;
    
    
}